<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837593738151-b8md3pev7golem4sclc0a1o5c83v9qd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837593738151-b8md3pev7golem4sclc0a1o5c83v9qd3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>837593738151-9oi8bg6s00hlt5h94hp68vbnjt1odhpr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOUDl6O3iEoiQD1JAVGt9vcn2iYMt6wTY</string>
	<key>GCM_SENDER_ID</key>
	<string>837593738151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.fuse.fusecash</string>
	<key>PROJECT_ID</key>
	<string>fusecash-8511d</string>
	<key>STORAGE_BUCKET</key>
	<string>fusecash-8511d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837593738151:ios:5c0903eced55056f03e482</string>
</dict>
</plist>